<div class="search-form">
    <form method="POST">
    <div class="form-group">
        <label for="exampleInputPassword1">Từ khóa</label>
        <input type="text" class="form-control" id="q" name="q" placeholder="Enter your keyword">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>